@import "fonts.scss";

// === variables ===
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);
// === / variables ===


// === common styles ===
:root {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1.3rem;
    background: $light-grayish-blue;
}

.wrapper {
    padding: 0 2.4rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
// === / common styles ===

.article-component-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-component {
    display: flex;
    flex-direction: column;
    max-width: 73rem;
    border-radius: 1rem;
    background-color: hsl(0,0, 100%);

    &__header {
        flex-basis: 40%;
        min-height: 20rem;
        border-radius: 1rem 1rem 0 0;
        background-image: url('../images/drawers.jpg');
        background-size: cover;
        background-position: center center;
    }

    &__main {
        flex-basis: 60%;
        padding-top: 4rem;
    }
}

.article-block {
    margin-bottom: 2rem;
    padding: 0 3.5rem;

    &__title {
        font-weight: 700;
        font-size: 1.6rem;
        color: $very-dark-grayish-blue;
        margin-bottom: 1.5rem;
    }

    &__text {
        color: $desaturated-dark-blue;
        line-height: 1.6;
    }
}

.author-block {
    display: flex;
    align-items: center;
    padding: 1.5rem 3.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;

    &__avatar {
        margin-right: 1.5rem;
        img {
            max-width: 4rem;
            max-height: 4rem;
            border-radius: 50%;
        }
    }

    &__information {
        &-name {
            color: $very-dark-grayish-blue;
            font-weight: 700;
        }
            
        &-date {
            color: $desaturated-dark-blue;
        }
    }

    &__btn {
        margin-left: auto;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
    }

    &__overlay {
        background-color: $very-dark-grayish-blue;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 0 3rem;
        opacity: 0;
        transition: opacity .2s linear;

        &-title {
            text-transform: uppercase;
            letter-spacing: .5rem;
            color: $desaturated-dark-blue;
            margin-right: 2rem;
        }

        &-icons {
            a + a {
                margin-left: 1.5rem;
            }
        }
    }

    &__overlay--show {
        opacity: 1;
    }   

    &__overlay::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        bottom: -1.4rem;
        opacity: 0;
        border-style: solid;
        border-width: 1.5rem 1.5rem 0 1.5rem;
        border-color: $very-dark-grayish-blue transparent transparent transparent;

    }
}

.share-button {
    width: 3.5rem;
    height: 3.5rem;
    border: 0;
    background-color: $light-grayish-blue;
    cursor: pointer;
    outline: none;

    &--active  {
        background-color: $desaturated-dark-blue;
    }
}

.share-button.share-button--active  .arrow-icon {
    fill: $light-grayish-blue;
}

// === media query ===
@media (min-width: 820px) {
    .article-component {
        flex-direction: row;

        &__header {
            border-radius: 1rem 0 0 1rem;
        }
    }

    .article-block {
        margin-bottom: 2rem;
        padding: 0 3.5rem;
    
        &__title {
            font-size: 2rem;
        }
    
        &__text {
            color: $desaturated-dark-blue;
            line-height: 1.6;
        }
    }
    
    .author-block {
        padding: 0 3.5rem 1.5rem;
        overflow: initial;

        &__overlay {
            background-color: $very-dark-grayish-blue;
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, .2);
            max-width: 25rem;
            min-height: 5.5rem;
            border-radius: 1rem;
            position: absolute;
            top: -130%;
            bottom: initial;
            right: -15%;
            left: initial;
            display: flex;
            align-items: center;
            padding: 0 3rem;
            overflow: initial;

            &::after {
                opacity: 1;
                filter: drop-shadow(0px 3px 5px rgba(0,0,0,.5));
            }
        }
    }
}
// === / media query ===

